body{
    overflow-x: hidden;
}
.nav-wrapper{
    padding: 0% 15% 0% 10%;
    background-color: #504DFF;
    position: fixed;
}
.sidenav{
    height: 50%;
    padding-top: 10%;
}
.sidenav-overlay{
    background-color: rgba(0, 0, 0, 0);
}